
    <%- include("partials/header.ejs") %>

    
    <div id="page-body">
        <form action="/project" method="post" id="project-form">
            <h3>Choose the field of the project:</h3>
            <div class="radio-group">
                <input type="radio" name="field" id="D-S" value="Data Science" required><label for="D-S">Data Science</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="C-S" value="Cybersecurity"><label for="C-S">Cybersecurity</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="M-L" value="Machine learning"><label for="M-L">Machine learning</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="pharma" value="Pharmacy"><label for="pharma">Pharmacy</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="med" value="Medecine"><label for="med">Medicine</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="bugs" value="Entomology"><label for="bugs">Entomology (bugs)</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="plants" value="Agriculture"><label for="plants">Agriculture</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="water" value="Water Treatment"><label for="water">Water Treatment</label>
            </div>
            <h3>Choose an average duration for the project (in weeks):</h3>
            <input type="range" name="duration" id="project-duration" min="2" max="20" oninput="this.nextElementSibling.value = this.value">
            <output>2</output>
            <h3>Choose the difficulty:</h3>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="easy" value="easy" required><label for="easy">easy</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="medium" value="medium"><label for="medium">medium</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="hard" value="hard"><label for="hard">hard</label>
            </div>
        <div id="loader-container"><input type="submit" value="Get Project" id="sub-button"><div id="loader1" class="loader"></div></div>
        </form>
        <form action="/random-project" method="post" id="rand-form">
            <div id="loader-container"></div><input type="submit" value="I want to help the university" id="sub-button"><div id="loader2" class="loader"></div></div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const rangeInput = document.getElementById('project-duration');
            const output = rangeInput.nextElementSibling;
            output.value = rangeInput.value;
        })
        /*document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("project-form");
            const loader = document.getElementById("loader");

            form.addEventListener("submit", function(event) {
                loader.style.display = "block"; 
            });
        });*/
        document.addEventListener("DOMContentLoaded", function() {
            const form1 = document.getElementById("project-form");
            const form2 = document.getElementById("rand-form");
            const loader1 = document.getElementById("loader1");
            const loader2 = document.getElementById("loader2");

            form1.addEventListener("submit", function(event) {
                loader1.style.display = "inline-block"; 
            });

            form2.addEventListener("submit", function(event) {
                loader2.style.display = "inline-block"; 
            });
        });
    </script>
    <%- include("partials/footer.ejs") %>