<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIG Application</title>
</head>
<body> -->
    <%- include("partials/header.ejs") %>
    <!-- <h1>WELCOME TO THE PIG (Project Idea Generator)</h1>
    <a href="/list">Get the project list</a> -->
    <div id="page-body">
        <form action="/project" method="post">
            <h3>Choose the field of the project:</h3>
            <div class="radio-group">
                <input type="radio" name="field" id="D-S" value="Data Science" required><label for="D-S">Data Science</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="C-S" value="Cybersecurity"><label for="C-S">Cybersecurity</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="M-L" value="Machine learning"><label for="M-L">Machine learning</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="pharma" value="Pharmacy"><label for="pharma">Pharmacy</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="med" value="Medecine"><label for="med">Medecine</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="bugs" value="Entomology"><label for="bugs">Entomology (bugs)</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="plants" value="Agriculture"><label for="plants">Agriculture</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="field" id="water" value="Water Treatment"><label for="water">Water Treatment</label>
            </div>
            <h3>Choose an average duration for the project (in weeks):</h3>
            <!-- <label for="project-duration">Number of weeks :</label> -->
            <input type="range" name="duration" id="project-duration" min="2" max="20" oninput="this.nextElementSibling.value = this.value">
            <output>2</output>
            <h3>Choose the difficulty:</h3>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="easy" value="easy" required><label for="easy">easy</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="medium" value="medium"><label for="medium">medium</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="difficulty" id="hard" value="hard"><label for="hard">hard</label>
            </div>
        <input type="submit" value="Get Project" id="sub-button">
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const rangeInput = document.getElementById('project-duration');
            const output = rangeInput.nextElementSibling;
            output.value = rangeInput.value;
        })
    </script>
    <%- include("partials/footer.ejs") %>