<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIG Response</title>
</head>
<body> -->
    <%- include("partials/header.ejs") %>
    
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis"><%= project.title %></h1>
          <p class="lead">
            <%= project.description%>
          </p>
        </div>
        <div id="generate-container">
          <form action="/random-project" method="post" id="project-form">
            <input type="submit" name="" id="generate-button" value="Regenerate">
          </form>
          <div id="loader-container"><div id="loader" class="loader"></div></div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("project-form");
            const loader = document.getElementById("loader");

            form.addEventListener("submit", function(event) {
                loader.style.display = "block"; // Show the loader
            });
        });
      </script>
    <%- include("partials/footer.ejs") %>